.btn-green {
    background-color: #647357 !important;
    color: #fff !important;
    border: none !important;
}

.btn-green:hover {
    background-color: #4c5742 !important;
}

.no-scroll {
    overflow: hidden !important;
    position: fixed !important;
    width: 100% !important;
}